In [1]:
#importing libraries
import pandas as pd

First after checking the txt I noticed that it is the same dataset divided into different txt so first we need to link the dataset

In [2]:
#reading csv
weather01 = pd.read_csv('weather01.txt', sep = '\s+', na_values = '<NA>')
weather01.head()

   X  year  month            measure  X1  X2
1  1  2014     12   Max.TemperatureF  64  42
2  2  2014     12  Mean.TemperatureF  52  38
3  3  2014     12   Min.TemperatureF  39  33
4  4  2014     12     Max.Dew.PointF  46  40
5  5  2014     12     MeanDew.PointF  40  27

In [3]:
#eliminating column X that is a repetition of the index
weather01.drop('X', axis = 1, inplace = True)

In [4]:
weather01.isna().sum()

year        0
month       0
measure     0
X1          5
X2         30
dtype: int64

In [5]:
weather01.head()

   year  month            measure  X1  X2
1  2014     12   Max.TemperatureF  64  42
2  2014     12  Mean.TemperatureF  52  38
3  2014     12   Min.TemperatureF  39  33
4  2014     12     Max.Dew.PointF  46  40
5  2014     12     MeanDew.PointF  40  27

In [6]:
weather02 = pd.read_csv('weather02.txt', sep = '\s+', na_values = '<NA>')
weather02.head()

   X3  X4  X5  X6  X7
1  51  43  42  45  38
2  44  37  34  42  30
3  37  30  26  38  21
4  49  24  37  45  36
5  42  21  25  40  20

In [7]:
weather03 = pd.read_csv('weather03.txt', sep = '\s+', na_values = '<NA>')
weather03.head()

   X8  X9 X10 X11 X12 X13 X14
1  29  49  48  39  39  42  45
2  24  39  43  36  35  37  39
3  18  29  38  32  31  32  33
4  28  49  45  37  28  28  29
5  16  41  39  31  27  26  27

In [8]:
weather04 = pd.read_csv('weather04.txt', sep = '\s+', na_values = '<NA>')
weather04.head()

  X15 X16 X17 X18 X19 X20
1  42  44  49  44  37  36
2  37  40  45  40  33  32
3  32  35  41  36  29  27
4  33  42  46  34  25  30
5  29  36  41  30  22  24

In [9]:
weather05 = pd.read_csv('weather05.txt', sep = '\s+', na_values = '<NA>')
weather05.head()

  X21 X22 X23 X24 X25 X26   X27
1  36  44  47  46  59  50  52.0
2  33  39  45  44  52  44  45.0
3  30  33  42  41  44  37  38.0
4  30  39  45  46  58  31  34.0
5  27  34  42  44  43  29  31.0

In [10]:
weather06 = pd.read_csv('weather06.txt', sep = '\s+', na_values = '<NA>')
weather06.head()

  X28 X29 X30   X31
1  52  41  30  30.0
2  46  36  26  25.0
3  40  30  22  20.0
4  42  26  10   8.0
5  35  20   4   5.0

In [11]:
#getting the full dataset that are year, month, measure and X + a number is the day 
weather = pd.concat([weather01, weather02, weather03,weather04, weather05, weather06], axis = 1)

In [12]:
#getting the events
events = []
for i in weather.columns.tolist()[3:]:
    events.extend(weather[i].loc[weather.measure == 'Events'].unique())

In [13]:
#getting uniques values
events = list(set(events))

In [14]:
#eliminating NaN
events = [x for x in events if type(x) == str]

In [15]:
events

['Fog-Rain-Thunderstorm',
 'Rain',
 'Rain-Thunderstorm',
 'Fog-Rain',
 'Fog-Snow',
 'Rain-Snow',
 'Fog-Rain-Hail-Thunderstorm',
 'Fog',
 'Fog-Rain-Snow',
 'Thunderstorm',
 'Snow']

In [16]:
#getting the index that does have events
listaevents = weather.loc[weather.measure == 'Events'].index.tolist()

In [17]:
listaevents

[21, 43, 65, 87, 109, 131, 153, 175, 197, 219, 241, 263, 285]

In [18]:
events.index('Rain')

1

In [19]:
#checking the operation was right
weather.loc[weather.measure == 'Events']

,year,month,measure,X1,X2,X3,X4,X5,X6,X7,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
21,2014,12,Events,Rain,Rain-Snow,Rain,Rain,Rain,Rain,NaN,...,Rain,Rain,Fog-Rain,Rain,NaN,NaN,Rain,NaN,NaN,NaN
43,2015,1,Events,NaN,NaN,Rain-Snow,Fog-Rain,Snow,Snow,NaN,...,Fog-Rain-Snow,Fog-Snow,Fog-Snow,NaN,NaN,NaN,Snow,Snow,Snow,NaN
65,2015,2,Events,Fog-Snow,NaN,Snow,Fog-Rain-Snow,Snow,NaN,NaN,...,Rain-Snow,Snow,Snow,Snow,NaN,NaN,NaN,NaN,NaN,NaN
87,2015,3,Events,Snow,Rain-Snow,Rain-Snow,Rain,Snow,NaN,NaN,...,Rain,Fog-Rain,Rain,NaN,NaN,NaN,Fog-Rain-Snow,Rain-Snow,NaN,NaN
109,2015,4,Events,NaN,NaN,Rain,Fog-Rain-Thunderstorm,Rain,NaN,NaN,...,Rain,Snow,Rain,NaN,NaN,NaN,Rain,NaN,NaN,NaN
131,2015,5,Events,NaN,NaN,Rain,NaN,NaN,NaN,NaN,...,Rain,NaN,NaN,NaN,NaN,NaN,Rain,Fog,Rain,NaN
153,2015,6,Events,Rain,Rain,Rain,NaN,NaN,NaN,NaN,...,Fog,Rain,Rain,Rain,NaN,NaN,Rain,NaN,NaN,NaN
175,2015,7,Events,Rain-Thunderstorm,NaN,Rain,NaN,NaN,NaN,NaN,...,Rain,Rain,NaN,NaN,NaN,NaN,Rain,NaN,NaN,NaN
197,2015,8,Events,Rain,NaN,Thunderstorm,Fog-Rain-Hail-Thunderstorm,NaN,NaN,NaN,...,Fog,Rain,Fog,Rain,NaN,NaN,NaN,NaN,NaN,NaN
219,2015,9,Events,NaN,NaN,Rain-Thunderstorm,Rain,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Fog-Rain,Fog-Rain,NaN,NaN
241,2015,10,Events,Rain,Rain,Rain,NaN,NaN,NaN,NaN,...,Fog,Rain,NaN,NaN,NaN,NaN,Rain,Rain,NaN,NaN
263,2015,11,Events,Rain,NaN,NaN,NaN,NaN,NaN,NaN,...,Rain,NaN,NaN,NaN,NaN,NaN,Rain,NaN,NaN,NaN
285,2015,12,Events,Rain,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#by doing this for we can transform the string into numbers
#itering over the index needed
#the for does not consume a lot of memory because the iterations are just a few
for i in listaevents:
    #iteraing over the columns of days
    for x in weather.columns.tolist()[3:]:
        #using try because if it is NaN will give an error
        try:
            weather.loc[i,x] = (events.index(weather.loc[i,x]))
        except:
            continue

In [21]:
#checking the operation was right
weather.loc[weather.measure == 'Events']

,year,month,measure,X1,X2,X3,X4,X5,X6,X7,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
21,2014,12,Events,1,5,1,1,1,1,NaN,...,1,1,3,1,NaN,NaN,1,NaN,NaN,NaN
43,2015,1,Events,NaN,NaN,5,3,10,10,NaN,...,8,4,4,NaN,NaN,NaN,10,10,10,NaN
65,2015,2,Events,4,NaN,10,8,10,NaN,NaN,...,5,10,10,10,NaN,NaN,NaN,NaN,NaN,NaN
87,2015,3,Events,10,5,5,1,10,NaN,NaN,...,1,3,1,NaN,NaN,NaN,8,5,NaN,NaN
109,2015,4,Events,NaN,NaN,1,0,1,NaN,NaN,...,1,10,1,NaN,NaN,NaN,1,NaN,NaN,NaN
131,2015,5,Events,NaN,NaN,1,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,1,7,1,NaN
153,2015,6,Events,1,1,1,NaN,NaN,NaN,NaN,...,7,1,1,1,NaN,NaN,1,NaN,NaN,NaN
175,2015,7,Events,2,NaN,1,NaN,NaN,NaN,NaN,...,1,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
197,2015,8,Events,1,NaN,9,6,NaN,NaN,NaN,...,7,1,7,1,NaN,NaN,NaN,NaN,NaN,NaN
219,2015,9,Events,NaN,NaN,2,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3,3,NaN,NaN
241,2015,10,Events,1,1,1,NaN,NaN,NaN,NaN,...,7,1,NaN,NaN,NaN,NaN,1,1,NaN,NaN
263,2015,11,Events,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
285,2015,12,Events,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
weather.head()

,year,month,measure,X1,X2,X3,X4,X5,X6,X7,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
1,2014,12,Max.TemperatureF,64,42,51,43,42,45,38,...,44,47,46,59,50,52.0,52,41,30,30.0
2,2014,12,Mean.TemperatureF,52,38,44,37,34,42,30,...,39,45,44,52,44,45.0,46,36,26,25.0
3,2014,12,Min.TemperatureF,39,33,37,30,26,38,21,...,33,42,41,44,37,38.0,40,30,22,20.0
4,2014,12,Max.Dew.PointF,46,40,49,24,37,45,36,...,39,45,46,58,31,34.0,42,26,10,8.0
5,2014,12,MeanDew.PointF,40,27,42,21,25,40,20,...,34,42,44,43,29,31.0,35,20,4,5.0

In [23]:
weather.isna().sum()

year         0
month        0
measure      0
X1           5
X2          30
X3          25
X4          27
X5          29
X6          32
X7          34
X8          23
X9          24
X10         26
X11         27
X12         33
X13         33
X14         34
X15         23
X16         24
X17         30
X18         33
X19         33
X20         34
X21         23
X22         23
X23         25
X24         27
X25         30
X26         34
X27         34
X28         24
X29         50
X30         53
X31        139
dtype: int64

In [24]:
weather.measure.nunique()

22

In [25]:
weather.measure.unique()

array(['Max.TemperatureF', 'Mean.TemperatureF', 'Min.TemperatureF',
       'Max.Dew.PointF', 'MeanDew.PointF', 'Min.DewpointF',
       'Max.Humidity', 'Mean.Humidity', 'Min.Humidity',
       'Max.Sea.Level.PressureIn', 'Mean.Sea.Level.PressureIn',
       'Min.Sea.Level.PressureIn', 'Max.VisibilityMiles',
       'Mean.VisibilityMiles', 'Min.VisibilityMiles', 'Max.Wind.SpeedMPH',
       'Mean.Wind.SpeedMPH', 'Max.Gust.SpeedMPH', 'PrecipitationIn',
       'CloudCover', 'Events', 'WindDirDegrees'], dtype=object)

In [26]:
weather.head(22)

,year,month,measure,X1,X2,X3,X4,X5,X6,X7,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
1,2014,12,Max.TemperatureF,64,42,51,43,42,45,38,...,44,47,46,59,50,52.00,52,41,30,30.00
2,2014,12,Mean.TemperatureF,52,38,44,37,34,42,30,...,39,45,44,52,44,45.00,46,36,26,25.00
3,2014,12,Min.TemperatureF,39,33,37,30,26,38,21,...,33,42,41,44,37,38.00,40,30,22,20.00
4,2014,12,Max.Dew.PointF,46,40,49,24,37,45,36,...,39,45,46,58,31,34.00,42,26,10,8.00
5,2014,12,MeanDew.PointF,40,27,42,21,25,40,20,...,34,42,44,43,29,31.00,35,20,4,5.00
6,2014,12,Min.DewpointF,26,17,24,13,12,36,-3,...,25,37,41,29,28,29.00,27,10,-6,1.00
7,2014,12,Max.Humidity,74,92,100,69,85,100,92,...,89,100,100,100,70,70.00,76,64,50,57.00
8,2014,12,Mean.Humidity,63,72,79,54,66,93,61,...,79,91,98,75,60,60.00,65,51,38,44.00
9,2014,12,Min.Humidity,52,51,57,39,47,85,29,...,69,82,96,49,49,50.00,53,37,26,31.00
10,2014,12,Max.Sea.Level.PressureIn,30.45,30.71,30.4,30.56,30.68,30.42,30.69,...,30.4,30.31,30.13,29.96,30.16,30.22,29.99,30.22,30.36,30.32
11,2014,12,Mean.Sea.Level.PressureIn,30.13,30.59,30.07,30.33,30.59,30.24,30.46,...,30.35,30.23,29.9,29.63,30.11,30.14,29.87,30.12,30.32,30.25
12,2014,12,Min.Sea.Level.PressureIn,30.01,30.4,29.87,30.09,30.45,30.16,30.24,...,30.3,30.16,29.55,29.47,29.99,30.03,29.77,30,30.23,30.13
13,2014,12,Max.VisibilityMiles,10,10,10,10,10,10,10,...,10,10,2,10,10,10.00,10,10,10,10.00
14,2014,12,Mean.VisibilityMiles,10,8,5,10,10,4,10,...,10,5,1,8,10,10.00,10,10,10,10.00
15,2014,12,Min.VisibilityMiles,10,2,1,10,5,0,5,...,4,1,0,1,10,10.00,10,10,10,10.00
16,2014,12,Max.Wind.SpeedMPH,22,24,29,25,22,22,25,...,18,20,13,28,18,17.00,22,15,16,17.00
17,2014,12,Mean.Wind.SpeedMPH,13,15,12,12,10,8,15,...,8,13,6,14,11,9.00,14,9,10,9.00
18,2014,12,Max.Gust.SpeedMPH,29,29,38,33,26,25,32,...,22,25,15,40,25,21.00,31,22,21,22.00
19,2014,12,PrecipitationIn,0.01,0.10,0.44,0.00,0.11,1.09,0.13,...,0.05,0.25,0.56,0.14,0.00,0.00,0.01,0.00,0.00,0.00
20,2014,12,CloudCover,6,7,8,3,5,8,6,...,7,8,8,6,1,3.00,8,4,2,1.00
21,2014,12,Events,1,5,1,1,1,1,NaN,...,1,1,3,1,NaN,NaN,1,NaN,NaN,NaN
22,2014,12,WindDirDegrees,268,62,254,292,61,313,350,...,24,63,12,250,255,251.00,252,288,313,269.00

by doing this I noticed the variable Events is not numeric so I will pass it to another dataframe, and additionally I will split the dataset into more dataset that contain the same measurement unit

In [27]:
weather.X1.astype(float)

ValueError: could not convert string to float: 'T'

by having this error I noticed the T, so I searched and I found out this


In meteorology, the word "trace" is used to describe a very small amount of precipitation that results in no measurable accumulation. In other words, a 'trace' is when you can observe that some amount of rain or snow fell, but it was not enough to be measured using a rain gauge, snow stick, or any other weather instrument.

Since trace precipitation falls as very light and brief sprinkles or flurries, you often won't know it unless you happen to be outdoors and see or feel it falling. 

* Trace amounts of precipitation are abbreviated by the capital letter "T", often placed in parenthesis (T).
* If you must convert a trace to a numerical amount, it would equal 0.00.

So, I need to change all the T for zeros

Note: sorry, professor :(, but the only idea that came to my mind was a for :(

In [28]:
#changing the T into 0
for x in weather.columns[3:]:
    weather[x].loc[weather[x] == 'T'] = 0
    weather[x] = weather[x].astype(float)

c:\users\jeorv\onedrive\favori~2\desktop\escuela\3ercua~1\prepro~1\prepro~1\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
c:\users\jeorv\onedrive\favori~2\desktop\escuela\3ercua~1\prepro~1\prepro~1\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [29]:
weather.loc[weather.X1 == 0]

,year,month,measure,X1,X2,X3,X4,X5,X6,X7,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
41,2015,1,PrecipitationIn,0.0,0.00,0.62,0.57,0.00,0.02,0.00,...,0.00,0.00,0.71,0.00,0.10,0.95,0.01,0.00,0.06,0.05
63,2015,2,PrecipitationIn,0.0,0.78,0.00,0.00,0.09,0.00,0.07,...,0.11,0.00,0.00,0.07,0.02,0.00,0.00,NaN,NaN,NaN
107,2015,4,PrecipitationIn,0.0,0.00,0.03,0.39,0.00,0.00,0.03,...,0.00,0.00,0.00,0.00,0.00,0.10,0.07,0.00,0.00,NaN
129,2015,5,PrecipitationIn,0.0,0.00,0.00,0.00,0.02,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.91
169,2015,7,Min.VisibilityMiles,0.0,10.00,10.00,10.00,7.00,8.00,10.00,...,10.00,10.00,7.00,10.00,10.00,10.00,10.00,10.00,7.00,10.00
195,2015,8,PrecipitationIn,0.0,0.00,0.00,0.49,0.00,0.00,0.00,...,0.00,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
217,2015,9,PrecipitationIn,0.0,0.00,0.01,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.04,2.46,NaN
239,2015,10,PrecipitationIn,0.0,0.08,0.01,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.03,0.00,0.00,0.36,0.73,0.00,0.00
261,2015,11,PrecipitationIn,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.30,0.04,0.00,0.00,0.00,0.00,0.21,0.00,0.00,NaN

In [30]:
#pivoting
weather_pivot = pd.pivot_table(weather,  index = ['year','month'],columns = 'measure', values = weather.columns[3:].tolist(), dropna = False)

In [31]:
weather_pivot

                   X1                                                       \
measure    CloudCover Events Max.Dew.PointF Max.Gust.SpeedMPH Max.Humidity
year month
2014 1            NaN    NaN            NaN               NaN          NaN
     2            NaN    NaN            NaN               NaN          NaN
     3            NaN    NaN            NaN               NaN          NaN
     4            NaN    NaN            NaN               NaN          NaN
     5            NaN    NaN            NaN               NaN          NaN
     6            NaN    NaN            NaN               NaN          NaN
     7            NaN    NaN            NaN               NaN          NaN
     8            NaN    NaN            NaN               NaN          NaN
     9            NaN    NaN            NaN               NaN          NaN
     10           NaN    NaN            NaN               NaN          NaN
     11           NaN    NaN            NaN               NaN          NaN
     12           6.0    1.0           46.0              29.0         74.0
2015 1            3.0    NaN           16.0              29.0         53.0
     2            4.0    4.0           11.0              29.0         67.0
     3            7.0   10.0           27.0              23.0         92.0
     4            1.0    NaN           16.0              28.0         40.0
     5            6.0    NaN           41.0              22.0         92.0
     6            8.0    1.0           48.0              26.0        100.0
     7            6.0    2.0           68.0              28.0        100.0
     8            3.0    1.0           61.0              35.0         66.0
     9            1.0    NaN           63.0               NaN         78.0
     10           7.0    1.0           50.0              38.0         77.0
     11           6.0    1.0           50.0              28.0         80.0
     12           7.0    1.0           43.0              17.0         96.0

                                                                          \
measure    Max.Sea.Level.PressureIn Max.TemperatureF Max.VisibilityMiles
year month
2014 1                          NaN              NaN                 NaN
     2                          NaN              NaN                 NaN
     3                          NaN              NaN                 NaN
     4                          NaN              NaN                 NaN
     5                          NaN              NaN                 NaN
     6                          NaN              NaN                 NaN
     7                          NaN              NaN                 NaN
     8                          NaN              NaN                 NaN
     9                          NaN              NaN                 NaN
     10                         NaN              NaN                 NaN
     11                         NaN              NaN                 NaN
     12                       30.45             64.0                10.0
2015 1                        30.10             33.0                10.0
     2                        30.16             30.0                10.0
     3                        30.71             30.0                10.0
     4                        30.17             47.0                10.0
     5                        30.02             49.0                10.0
     6                        30.27             49.0                 6.0
     7                        29.93             82.0                10.0
     8                        29.82             90.0                10.0
     9                        30.06             79.0                10.0
     10                       30.24             59.0                10.0
     11                       30.07             62.0                10.0
     12                       30.40             45.0                10.0

                                            ...                   X9  \
measure    Max.Wind.SpeedMPH Mean.Humidity  ... Mean.VisibilityMiles
year month                                  ...
2014 1                   NaN           NaN  ...                  NaN
     2                   NaN           NaN  ...                  NaN
     3                   NaN           NaN  ...                  NaN
     4                   NaN           NaN  ...                  NaN
     5                   NaN           NaN  ...                  NaN
     6                   NaN           NaN  ...                  NaN
     7                   NaN           NaN  ...                  NaN
     8                   NaN           NaN  ...                  NaN
     9                   NaN           NaN  ...                  NaN
     10                  NaN           NaN  ...                  NaN
     11                  NaN           NaN  ...                  NaN
     12                 22.0          63.0  ...                  2.0
2015 1                  23.0          43.0  ...                  8.0
     2                  22.0          48.0  ...                  1.0
     3                  20.0          66.0  ...                 10.0
     4                  21.0          29.0  ...                  2.0
     5                  17.0          82.0  ...                  9.0
     6                  21.0          97.0  ...                 10.0
     7                  22.0          78.0  ...                 10.0
     8                  26.0          50.0  ...                 10.0
     9                  15.0          65.0  ...                 10.0
     10                 30.0          72.0  ...                  8.0
     11                 22.0          73.0  ...                 10.0
     12                 15.0          83.0  ...                  NaN

                                                                         \
measure    Mean.Wind.SpeedMPH MeanDew.PointF Min.DewpointF Min.Humidity
year month
2014 1                    NaN            NaN           NaN          NaN
     2                    NaN            NaN           NaN          NaN
     3                    NaN            NaN           NaN          NaN
     4                    NaN            NaN           NaN          NaN
     5                    NaN            NaN           NaN          NaN
     6                    NaN            NaN           NaN          NaN
     7                    NaN            NaN           NaN          NaN
     8                    NaN            NaN           NaN          NaN
     9                    NaN            NaN           NaN          NaN
     10                   NaN            NaN           NaN          NaN
     11                   NaN            NaN           NaN          NaN
     12                  20.0           41.0          28.0         86.0
2015 1                   14.0           14.0           8.0         42.0
     2                   15.0           14.0          10.0         80.0
     3                   10.0           19.0          16.0         31.0
     4                   17.0           34.0          32.0         89.0
     5                    8.0           50.0          43.0         66.0
     6                   13.0           63.0          59.0         69.0
     7                    8.0           57.0          55.0         61.0
     8                    9.0           59.0          57.0         66.0
     9                   13.0           68.0          62.0         36.0
     10                  15.0           57.0          49.0         57.0
     11                   9.0           32.0          30.0         33.0
     12                   NaN            NaN           NaN          NaN

                                                                          \
measure    Min.Sea.Level.PressureIn Min.TemperatureF Min.VisibilityMiles
year month
2014 1                          NaN              NaN                 NaN
     2                          NaN              NaN                 NaN
     3                          NaN              NaN                 NaN
     4                          NaN              NaN                 NaN
     5                          NaN              NaN                 NaN
     6                          NaN              NaN                 NaN
     7                          NaN              NaN                 NaN
     8                          NaN              NaN                 NaN
     9                          NaN              NaN                 NaN
     10                         NaN              NaN                 NaN
     11                         NaN              NaN                 NaN
     12                       29.49             29.0                 1.0
2015 1                        29.89             19.0                 1.0
     2                        30.08             14.0                 0.0
     3                        30.05             26.0                10.0
     4                        30.30             33.0                 1.0
     5                        30.21             46.0                 3.0
     6                        29.63             64.0                 9.0
     7                        29.87             63.0                 5.0
     8                        30.00             62.0                10.0
     9                        29.78             72.0                10.0
     10                       29.72             52.0                 2.0
     11                       30.32             41.0                10.0
     12                         NaN              NaN                 NaN


measure    PrecipitationIn WindDirDegrees
year month
2014 1                 NaN            NaN
     2                 NaN            NaN
     3                 NaN            NaN
     4                 NaN            NaN
     5                 NaN            NaN
     6                 NaN            NaN
     7                 NaN            NaN
     8                 NaN            NaN
     9                 NaN            NaN
     10                NaN            NaN
     11                NaN            NaN
     12               2.90           38.0
2015 1                0.01          240.0
     2                0.88          351.0
     3                0.00          242.0
     4                0.09           58.0
     5                0.00          117.0
     6                0.00          199.0
     7                0.15           67.0
     8                0.00           36.0
     9                0.00          214.0
     10               0.34          210.0
     11               0.00          237.0
     12                NaN            NaN

[24 rows x 682 columns]

In [32]:
#eliminating useless rows
weather_pivot.reset_index(drop = False, inplace = True)
weather_pivot.drop([x for x in range (0,11)], axis = 0, inplace = True)

In [33]:
weather_pivot.reset_index(drop = True, inplace = True)

In [34]:
weather_pivot

         year month         X1                                          \
measure             CloudCover Events Max.Dew.PointF Max.Gust.SpeedMPH
0        2014    12        6.0    1.0           46.0              29.0
1        2015     1        3.0    NaN           16.0              29.0
2        2015     2        4.0    4.0           11.0              29.0
3        2015     3        7.0   10.0           27.0              23.0
4        2015     4        1.0    NaN           16.0              28.0
5        2015     5        6.0    NaN           41.0              22.0
6        2015     6        8.0    1.0           48.0              26.0
7        2015     7        6.0    2.0           68.0              28.0
8        2015     8        3.0    1.0           61.0              35.0
9        2015     9        1.0    NaN           63.0               NaN
10       2015    10        7.0    1.0           50.0              38.0
11       2015    11        6.0    1.0           50.0              28.0
12       2015    12        7.0    1.0           43.0              17.0

                                                                \
measure Max.Humidity Max.Sea.Level.PressureIn Max.TemperatureF
0               74.0                    30.45             64.0
1               53.0                    30.10             33.0
2               67.0                    30.16             30.0
3               92.0                    30.71             30.0
4               40.0                    30.17             47.0
5               92.0                    30.02             49.0
6              100.0                    30.27             49.0
7              100.0                    29.93             82.0
8               66.0                    29.82             90.0
9               78.0                    30.06             79.0
10              77.0                    30.24             59.0
11              80.0                    30.07             62.0
12              96.0                    30.40             45.0

                             ...                   X9                     \
measure Max.VisibilityMiles  ... Mean.VisibilityMiles Mean.Wind.SpeedMPH
0                      10.0  ...                  2.0               20.0
1                      10.0  ...                  8.0               14.0
2                      10.0  ...                  1.0               15.0
3                      10.0  ...                 10.0               10.0
4                      10.0  ...                  2.0               17.0
5                      10.0  ...                  9.0                8.0
6                       6.0  ...                 10.0               13.0
7                      10.0  ...                 10.0                8.0
8                      10.0  ...                 10.0                9.0
9                      10.0  ...                 10.0               13.0
10                     10.0  ...                  8.0               15.0
11                     10.0  ...                 10.0                9.0
12                     10.0  ...                  NaN                NaN

                                                                            \
measure MeanDew.PointF Min.DewpointF Min.Humidity Min.Sea.Level.PressureIn
0                 41.0          28.0         86.0                    29.49
1                 14.0           8.0         42.0                    29.89
2                 14.0          10.0         80.0                    30.08
3                 19.0          16.0         31.0                    30.05
4                 34.0          32.0         89.0                    30.30
5                 50.0          43.0         66.0                    30.21
6                 63.0          59.0         69.0                    29.63
7                 57.0          55.0         61.0                    29.87
8                 59.0          57.0         66.0                    30.00
9                 68.0          62.0         36.0                    29.78
10                57.0          49.0         57.0                    29.72
11                32.0          30.0         33.0                    30.32
12                 NaN           NaN          NaN                      NaN


measure Min.TemperatureF Min.VisibilityMiles PrecipitationIn WindDirDegrees
0                   29.0                 1.0            2.90           38.0
1                   19.0                 1.0            0.01          240.0
2                   14.0                 0.0            0.88          351.0
3                   26.0                10.0            0.00          242.0
4                   33.0                 1.0            0.09           58.0
5                   46.0                 3.0            0.00          117.0
6                   64.0                 9.0            0.00          199.0
7                   63.0                 5.0            0.15           67.0
8                   62.0                10.0            0.00           36.0
9                   72.0                10.0            0.00          214.0
10                  52.0                 2.0            0.34          210.0
11                  41.0                10.0            0.00          237.0
12                   NaN                 NaN             NaN            NaN

[13 rows x 684 columns]

In [35]:
#creating a new object for the final table
weather_final = pd.DataFrame()

In [36]:
#giving to the dataframe the first day of the columns
weather_final = weather_pivot[weather_pivot.columns.tolist()[0:24]].copy()
weather_final = weather_final.droplevel(0, axis = 1)

In [37]:
weather_final.head()

measure,,,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,...,Mean.VisibilityMiles,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees
0,2014,12,6.0,1.0,46.0,29.0,74.0,30.45,64.0,10.0,...,10.0,13.0,40.0,26.0,52.0,30.01,39.0,10.0,0.01,268.0
1,2015,1,3.0,NaN,16.0,29.0,53.0,30.10,33.0,10.0,...,10.0,14.0,8.0,5.0,32.0,29.92,22.0,10.0,0.00,230.0
2,2015,2,4.0,4.0,11.0,29.0,67.0,30.16,30.0,10.0,...,10.0,12.0,2.0,-6.0,29.0,30.04,12.0,10.0,0.00,289.0
3,2015,3,7.0,10.0,27.0,23.0,92.0,30.71,30.0,10.0,...,6.0,6.0,16.0,2.0,40.0,30.12,12.0,1.0,0.17,206.0
4,2015,4,1.0,NaN,16.0,28.0,40.0,30.17,47.0,10.0,...,10.0,10.0,7.0,1.0,17.0,29.79,30.0,10.0,0.00,332.0

In [38]:
#useful columns
columnas = ['year','month']
columnas

['year', 'month']

In [39]:
#adding the columns we will use for renaming
columnas.extend(weather_final.columns.tolist()[2:])

In [40]:
#renaming columns
weather_final.columns = columnas

In [41]:
#gibving the first day because in the multiindex was X1
weather_final['Day'] = 1

In [42]:
weather_final

,year,month,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,...,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees,Day
0,2014,12,6.0,1.0,46.0,29.0,74.0,30.45,64.0,10.0,...,13.0,40.0,26.0,52.0,30.01,39.0,10.0,0.01,268.0,1
1,2015,1,3.0,NaN,16.0,29.0,53.0,30.10,33.0,10.0,...,14.0,8.0,5.0,32.0,29.92,22.0,10.0,0.00,230.0,1
2,2015,2,4.0,4.0,11.0,29.0,67.0,30.16,30.0,10.0,...,12.0,2.0,-6.0,29.0,30.04,12.0,10.0,0.00,289.0,1
3,2015,3,7.0,10.0,27.0,23.0,92.0,30.71,30.0,10.0,...,6.0,16.0,2.0,40.0,30.12,12.0,1.0,0.17,206.0,1
4,2015,4,1.0,NaN,16.0,28.0,40.0,30.17,47.0,10.0,...,10.0,7.0,1.0,17.0,29.79,30.0,10.0,0.00,332.0,1
5,2015,5,6.0,NaN,41.0,22.0,92.0,30.02,49.0,10.0,...,8.0,39.0,37.0,71.0,29.97,39.0,10.0,0.00,85.0,1
6,2015,6,8.0,1.0,48.0,26.0,100.0,30.27,49.0,6.0,...,14.0,47.0,46.0,93.0,30.23,47.0,2.0,0.38,43.0,1
7,2015,7,6.0,2.0,68.0,28.0,100.0,29.93,82.0,10.0,...,10.0,64.0,60.0,55.0,29.68,62.0,0.0,0.50,164.0,1
8,2015,8,3.0,1.0,61.0,35.0,66.0,29.82,90.0,10.0,...,10.0,58.0,55.0,34.0,29.70,68.0,10.0,0.00,251.0,1
9,2015,9,1.0,NaN,63.0,NaN,78.0,30.06,79.0,10.0,...,9.0,62.0,59.0,52.0,29.96,69.0,10.0,0.00,54.0,1
10,2015,10,7.0,1.0,50.0,38.0,77.0,30.24,59.0,10.0,...,17.0,48.0,45.0,67.0,29.97,54.0,10.0,0.00,22.0,1
11,2015,11,6.0,1.0,50.0,28.0,80.0,30.07,62.0,10.0,...,11.0,46.0,39.0,65.0,29.79,48.0,10.0,0.00,207.0,1
12,2015,12,7.0,1.0,43.0,17.0,96.0,30.40,45.0,10.0,...,6.0,35.0,25.0,69.0,30.01,32.0,1.0,0.14,109.0,1

In [43]:
for j in range(1, int(len(weather_pivot.columns.tolist()[2:]) / 22)):
    x = weather_pivot.columns.tolist()[0:2]
    y = weather_pivot.columns.tolist()[(j*22)+2:(j+1)*22 + 2]
    x.extend(y)
    #useful columns
    columnas = ['year','month']
    #eliminating multi index
    droplevelofday = weather_pivot[x].droplevel(0, axis = 1).copy()
    #adding the columns we will use for renaming
    columnas.extend(droplevelofday.columns.tolist()[2:])
    #renaming
    droplevelofday.columns = columnas
    #getting the day of the X by list operations
    droplevelofday['Day'] = (weather_pivot.columns.tolist()[(j*22)+2:(j+1)*22 + 2][0][0])[1:]
    #aggregating the day to the final dataset
    weather_final = weather_final.append(droplevelofday, sort = False)

In [44]:
weather_final

,year,month,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,...,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees,Day
0,2014,12,6.0,1.0,46.0,29.0,74.0,30.45,64.0,10.0,...,13.0,40.0,26.0,52.0,30.01,39.0,10.0,0.01,268.0,1
1,2015,1,3.0,NaN,16.0,29.0,53.0,30.10,33.0,10.0,...,14.0,8.0,5.0,32.0,29.92,22.0,10.0,0.00,230.0,1
2,2015,2,4.0,4.0,11.0,29.0,67.0,30.16,30.0,10.0,...,12.0,2.0,-6.0,29.0,30.04,12.0,10.0,0.00,289.0,1
3,2015,3,7.0,10.0,27.0,23.0,92.0,30.71,30.0,10.0,...,6.0,16.0,2.0,40.0,30.12,12.0,1.0,0.17,206.0,1
4,2015,4,1.0,NaN,16.0,28.0,40.0,30.17,47.0,10.0,...,10.0,7.0,1.0,17.0,29.79,30.0,10.0,0.00,332.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8,2015,8,5.0,NaN,61.0,26.0,93.0,30.05,73.0,10.0,...,9.0,59.0,57.0,66.0,30.00,62.0,10.0,0.00,36.0,9
9,2015,9,3.0,1.0,71.0,28.0,84.0,29.94,93.0,10.0,...,13.0,68.0,62.0,36.0,29.78,72.0,10.0,0.00,214.0,9
10,2015,10,7.0,3.0,63.0,40.0,93.0,30.12,72.0,10.0,...,15.0,57.0,49.0,57.0,29.72,52.0,2.0,0.34,210.0,9
11,2015,11,2.0,1.0,36.0,20.0,70.0,30.43,60.0,10.0,...,9.0,32.0,30.0,33.0,30.32,41.0,10.0,0.00,237.0,9
12,2015,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [45]:
#getting the data
weather_final['date: Y,M,D'] = weather_final.year.astype(str)+'-'+weather_final.month.astype(str)+'-'+weather_final.Day.astype(str)

In [46]:
#transforming the data into int
weather_final.Day = weather_final.Day.astype(int)

In [47]:
#sorting values
weather_final = weather_final.sort_values(['year','month','Day'])

In [48]:
#setting new index
weather_final.set_index('date: Y,M,D', inplace = True)

In [49]:
weather_final.drop(['year','month','Day'],axis = 1, inplace = True)

In [50]:
weather_final

,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Humidity,...,Mean.VisibilityMiles,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees
"date: Y,M,D",,,,,,,,,,,,,,,,,,,,,
2014-12-1,6.0,1.0,46.0,29.0,74.0,30.45,64.0,10.0,22.0,63.0,...,10.0,13.0,40.0,26.0,52.0,30.01,39.0,10.0,0.01,268.0
2014-12-2,7.0,5.0,40.0,29.0,92.0,30.71,42.0,10.0,24.0,72.0,...,8.0,15.0,27.0,17.0,51.0,30.40,33.0,2.0,0.10,62.0
2014-12-3,8.0,1.0,49.0,38.0,100.0,30.40,51.0,10.0,29.0,79.0,...,5.0,12.0,42.0,24.0,57.0,29.87,37.0,1.0,0.44,254.0
2014-12-4,3.0,1.0,24.0,33.0,69.0,30.56,43.0,10.0,25.0,54.0,...,10.0,12.0,21.0,13.0,39.0,30.09,30.0,10.0,0.00,292.0
2014-12-5,5.0,1.0,37.0,26.0,85.0,30.68,42.0,10.0,22.0,66.0,...,10.0,10.0,25.0,12.0,47.0,30.45,26.0,5.0,0.11,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
#function to give the original name to the events
def evento(i): 
    try: 
        return events[int(i)]
    except:
        return

In [52]:
weather_final.Events = weather_final.Events.apply(evento)

In [53]:
weather_final[['Max.TemperatureF', 'Mean.TemperatureF', 'Min.TemperatureF',
       'Max.Dew.PointF', 'MeanDew.PointF', 'Min.DewpointF', 'Max.Humidity',
       'Mean.Humidity', 'Min.Humidity', 'Max.Sea.Level.PressureIn',
       'Mean.Sea.Level.PressureIn', 'Min.Sea.Level.PressureIn',
       'Max.VisibilityMiles', 'Mean.VisibilityMiles', 'Min.VisibilityMiles',
       'Max.Wind.SpeedMPH', 'Mean.Wind.SpeedMPH', 'Max.Gust.SpeedMPH',
       'PrecipitationIn', 'CloudCover', 'Events', 'WindDirDegrees']]

,Max.TemperatureF,Mean.TemperatureF,Min.TemperatureF,Max.Dew.PointF,MeanDew.PointF,Min.DewpointF,Max.Humidity,Mean.Humidity,Min.Humidity,Max.Sea.Level.PressureIn,...,Max.VisibilityMiles,Mean.VisibilityMiles,Min.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Wind.SpeedMPH,Max.Gust.SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
"date: Y,M,D",,,,,,,,,,,,,,,,,,,,,
2014-12-1,64.0,52.0,39.0,46.0,40.0,26.0,74.0,63.0,52.0,30.45,...,10.0,10.0,10.0,22.0,13.0,29.0,0.01,6.0,Rain,268.0
2014-12-2,42.0,38.0,33.0,40.0,27.0,17.0,92.0,72.0,51.0,30.71,...,10.0,8.0,2.0,24.0,15.0,29.0,0.10,7.0,Rain-Snow,62.0
2014-12-3,51.0,44.0,37.0,49.0,42.0,24.0,100.0,79.0,57.0,30.40,...,10.0,5.0,1.0,29.0,12.0,38.0,0.44,8.0,Rain,254.0
2014-12-4,43.0,37.0,30.0,24.0,21.0,13.0,69.0,54.0,39.0,30.56,...,10.0,10.0,10.0,25.0,12.0,33.0,0.00,3.0,Rain,292.0
2014-12-5,42.0,34.0,26.0,37.0,25.0,12.0,85.0,66.0,47.0,30.68,...,10.0,10.0,5.0,22.0,10.0,26.0,0.11,5.0,Rain,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2015-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2015-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2015-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

Observations on the last month started to not registering the data