# Processing data  with pandas

In [17]:
# importing the modules needed
import pandas as pd
import numpy as np

## Loading data

In [2]:
fname = r'Kumpula-June-2016-w-metadata.txt'
dataframe = pd.read_csv(fname, sep=',', skiprows=8)

## Calculating
 - creating a new column called "DIFF" and populate it with the difference between the MAX and MIN
 - creating a new column called "DIFF_Min" and populate it with the difference between the TEMP and MIN
 - creating a new column called "TEMP_CELCIUS" and populate it with the conversion from "F to Â°C of the "TEMP" column

In [3]:
# using comprenhension lists
"""
dataframe['DIFF'] = [dataframe["MAX"][x]-dataframe["MIN"][x] for x in range(0,30)]
dataframe["DIFF_Min"] = [dataframe["TEMP"][x]-dataframe["MIN"][x] for x in range(0,30)]
dataframe["TEMP_CELCIUS"] = [(dataframe["TEMP"][x]-32)*(5/9) for x in range(0,30)]
dataframe
"""

'\ndataframe[\'DIFF\'] = [dataframe["MAX"][x]-dataframe["MIN"][x] for x in range(0,30)]\ndataframe["DIFF_Min"] = [dataframe["TEMP"][x]-dataframe["MIN"][x] for x in range(0,30)]\ndataframe["TEMP_CELCIUS"] = [(dataframe["TEMP"][x]-32)*(5/9) for x in range(0,30)]\ndataframe\n'

In [4]:
# using Pandas
dataframe['DIFF'] = dataframe["MAX"]-dataframe["MIN"]
dataframe['DIFF_Min'] = dataframe["TEMP"]-dataframe["MIN"]
dataframe['TEMP_CELSIUS'] = (dataframe["TEMP"]-32)*(5/9)
dataframe

    YEARMODA  TEMP   MAX   MIN  DIFF  DIFF_Min  TEMP_CELSIUS
0   20160601  65.5  73.6  54.7  18.9      10.8     18.611111
1   20160602  65.8  80.8  55.0  25.8      10.8     18.777778
2   20160603  68.4  77.9  55.6  22.3      12.8     20.222222
3   20160604  57.5  70.9  47.3  23.6      10.2     14.166667
4   20160605  51.4  58.3  43.2  15.1       8.2     10.777778
5   20160606  52.2  59.7  42.8  16.9       9.4     11.222222
6   20160607  56.9  65.1  45.9  19.2      11.0     13.833333
7   20160608  54.2  60.4  47.5  12.9       6.7     12.333333
8   20160609  49.4  54.1  45.7   8.4       3.7      9.666667
9   20160610  49.5  55.9  43.0  12.9       6.5      9.722222
10  20160611  54.0  62.1  41.7  20.4      12.3     12.222222
11  20160612  55.4  64.2  46.0  18.2       9.4     13.000000
12  20160613  58.3  68.2  47.3  20.9      11.0     14.611111
13  20160614  59.7  67.8  47.8  20.0      11.9     15.388889
14  20160615  63.4  70.3  49.3  21.0      14.1     17.444444
15  20160616  57.8  67.5  55.6  11.9       2.2     14.333333
16  20160617  60.4  70.7  55.9  14.8       4.5     15.777778
17  20160618  57.3  62.8  54.0   8.8       3.3     14.055556
18  20160619  56.3  59.2  54.1   5.1       2.2     13.500000
19  20160620  59.3  69.1  52.2  16.9       7.1     15.166667
20  20160621  62.6  71.4  50.4  21.0      12.2     17.000000
21  20160622  61.7  70.2  55.4  14.8       6.3     16.500000
22  20160623  60.9  67.1  54.9  12.2       6.0     16.055556
23  20160624  61.1  68.9  56.7  12.2       4.4     16.166667
24  20160625  65.7  75.4  57.9  17.5       7.8     18.722222
25  20160626  69.6  77.7  60.3  17.4       9.3     20.888889
26  20160627  60.7  70.0  57.6  12.4       3.1     15.944444
27  20160628  65.4  73.0  55.8  17.2       9.6     18.555556
28  20160629  65.8  73.2  59.7  13.5       6.1     18.777778
29  20160630  65.7  72.7  59.2  13.5       6.5     18.722222

# Using indices to select data

In [5]:
#select the first five rows of data
rows5 = dataframe[0:5]
rows5

   YEARMODA  TEMP   MAX   MIN  DIFF  DIFF_Min  TEMP_CELSIUS
0  20160601  65.5  73.6  54.7  18.9      10.8     18.611111
1  20160602  65.8  80.8  55.0  25.8      10.8     18.777778
2  20160603  68.4  77.9  55.6  22.3      12.8     20.222222
3  20160604  57.5  70.9  47.3  23.6      10.2     14.166667
4  20160605  51.4  58.3  43.2  15.1       8.2     10.777778

In [6]:
# select the row with the index 8
row8 = dataframe.loc[8]
row8

YEARMODA        2.016061e+07
TEMP            4.940000e+01
MAX             5.410000e+01
MIN             4.570000e+01
DIFF            8.400000e+00
DIFF_Min        3.700000e+00
TEMP_CELSIUS    9.666667e+00
Name: 8, dtype: float64

In [7]:
row8['TEMP']

49.4

In [8]:
# select from the TEMP column the values between indices 5 and 10
temp_5to10 = dataframe.loc[5:10,'TEMP']
temp_5to10

5     52.2
6     56.9
7     54.2
8     49.4
9     49.5
10    54.0
Name: TEMP, dtype: float64

In [9]:
# select from the TEMP_celsius columns the values betwween 5 and 10
temp_5to10 = dataframe.loc[5:10,['TEMP','TEMP_CELSIUS']]
temp_5to10

    TEMP  TEMP_CELSIUS
5   52.2     11.222222
6   56.9     13.833333
7   54.2     12.333333
8   49.4      9.666667
9   49.5      9.722222
10  54.0     12.222222

## Filtering and updating data

In [10]:
#select rows with a temp_celsius value greater then 15 degrees
w_temp = dataframe.loc[dataframe['TEMP_CELSIUS'] > 15]
w_temp

    YEARMODA  TEMP   MAX   MIN  DIFF  DIFF_Min  TEMP_CELSIUS
0   20160601  65.5  73.6  54.7  18.9      10.8     18.611111
1   20160602  65.8  80.8  55.0  25.8      10.8     18.777778
2   20160603  68.4  77.9  55.6  22.3      12.8     20.222222
13  20160614  59.7  67.8  47.8  20.0      11.9     15.388889
14  20160615  63.4  70.3  49.3  21.0      14.1     17.444444
16  20160617  60.4  70.7  55.9  14.8       4.5     15.777778
19  20160620  59.3  69.1  52.2  16.9       7.1     15.166667
20  20160621  62.6  71.4  50.4  21.0      12.2     17.000000
21  20160622  61.7  70.2  55.4  14.8       6.3     16.500000
22  20160623  60.9  67.1  54.9  12.2       6.0     16.055556
23  20160624  61.1  68.9  56.7  12.2       4.4     16.166667
24  20160625  65.7  75.4  57.9  17.5       7.8     18.722222
25  20160626  69.6  77.7  60.3  17.4       9.3     20.888889
26  20160627  60.7  70.0  57.6  12.4       3.1     15.944444
27  20160628  65.4  73.0  55.8  17.2       9.6     18.555556
28  20160629  65.8  73.2  59.7  13.5       6.1     18.777778
29  20160630  65.7  72.7  59.2  13.5       6.5     18.722222

In [11]:
# select rows with a TEMP_CELSIUS is greter than 15 degrees and from the second half of the year
w_temp2 = dataframe.loc[(dataframe['TEMP_CELSIUS'] > 15) & (dataframe['YEARMODA'] >= 20160615) ]
w_temp2

    YEARMODA  TEMP   MAX   MIN  DIFF  DIFF_Min  TEMP_CELSIUS
14  20160615  63.4  70.3  49.3  21.0      14.1     17.444444
16  20160617  60.4  70.7  55.9  14.8       4.5     15.777778
19  20160620  59.3  69.1  52.2  16.9       7.1     15.166667
20  20160621  62.6  71.4  50.4  21.0      12.2     17.000000
21  20160622  61.7  70.2  55.4  14.8       6.3     16.500000
22  20160623  60.9  67.1  54.9  12.2       6.0     16.055556
23  20160624  61.1  68.9  56.7  12.2       4.4     16.166667
24  20160625  65.7  75.4  57.9  17.5       7.8     18.722222
25  20160626  69.6  77.7  60.3  17.4       9.3     20.888889
26  20160627  60.7  70.0  57.6  12.4       3.1     15.944444
27  20160628  65.4  73.0  55.8  17.2       9.6     18.555556
28  20160629  65.8  73.2  59.7  13.5       6.1     18.777778
29  20160630  65.7  72.7  59.2  13.5       6.5     18.722222

In [12]:
w_temp2 = w_temp2.reset_index(drop=True)
w_temp2

    YEARMODA  TEMP   MAX   MIN  DIFF  DIFF_Min  TEMP_CELSIUS
0   20160615  63.4  70.3  49.3  21.0      14.1     17.444444
1   20160617  60.4  70.7  55.9  14.8       4.5     15.777778
2   20160620  59.3  69.1  52.2  16.9       7.1     15.166667
3   20160621  62.6  71.4  50.4  21.0      12.2     17.000000
4   20160622  61.7  70.2  55.4  14.8       6.3     16.500000
5   20160623  60.9  67.1  54.9  12.2       6.0     16.055556
6   20160624  61.1  68.9  56.7  12.2       4.4     16.166667
7   20160625  65.7  75.4  57.9  17.5       7.8     18.722222
8   20160626  69.6  77.7  60.3  17.4       9.3     20.888889
9   20160627  60.7  70.0  57.6  12.4       3.1     15.944444
10  20160628  65.4  73.0  55.8  17.2       9.6     18.555556
11  20160629  65.8  73.2  59.7  13.5       6.1     18.777778
12  20160630  65.7  72.7  59.2  13.5       6.5     18.722222

# sortign tha data

In [13]:
# sort in asecnding order the dataframe according to a column, for example 'TEMP'
sorted_temp_df = dataframe.sort_values(by='TEMP')
sorted_temp_df

    YEARMODA  TEMP   MAX   MIN  DIFF  DIFF_Min  TEMP_CELSIUS
8   20160609  49.4  54.1  45.7   8.4       3.7      9.666667
9   20160610  49.5  55.9  43.0  12.9       6.5      9.722222
4   20160605  51.4  58.3  43.2  15.1       8.2     10.777778
5   20160606  52.2  59.7  42.8  16.9       9.4     11.222222
10  20160611  54.0  62.1  41.7  20.4      12.3     12.222222
7   20160608  54.2  60.4  47.5  12.9       6.7     12.333333
11  20160612  55.4  64.2  46.0  18.2       9.4     13.000000
18  20160619  56.3  59.2  54.1   5.1       2.2     13.500000
6   20160607  56.9  65.1  45.9  19.2      11.0     13.833333
17  20160618  57.3  62.8  54.0   8.8       3.3     14.055556
3   20160604  57.5  70.9  47.3  23.6      10.2     14.166667
15  20160616  57.8  67.5  55.6  11.9       2.2     14.333333
12  20160613  58.3  68.2  47.3  20.9      11.0     14.611111
19  20160620  59.3  69.1  52.2  16.9       7.1     15.166667
13  20160614  59.7  67.8  47.8  20.0      11.9     15.388889
16  20160617  60.4  70.7  55.9  14.8       4.5     15.777778
26  20160627  60.7  70.0  57.6  12.4       3.1     15.944444
22  20160623  60.9  67.1  54.9  12.2       6.0     16.055556
23  20160624  61.1  68.9  56.7  12.2       4.4     16.166667
21  20160622  61.7  70.2  55.4  14.8       6.3     16.500000
20  20160621  62.6  71.4  50.4  21.0      12.2     17.000000
14  20160615  63.4  70.3  49.3  21.0      14.1     17.444444
27  20160628  65.4  73.0  55.8  17.2       9.6     18.555556
0   20160601  65.5  73.6  54.7  18.9      10.8     18.611111
24  20160625  65.7  75.4  57.9  17.5       7.8     18.722222
29  20160630  65.7  72.7  59.2  13.5       6.5     18.722222
1   20160602  65.8  80.8  55.0  25.8      10.8     18.777778
28  20160629  65.8  73.2  59.7  13.5       6.1     18.777778
2   20160603  68.4  77.9  55.6  22.3      12.8     20.222222
25  20160626  69.6  77.7  60.3  17.4       9.3     20.888889

In [14]:
# sorting the dataframe ip ascending order
sorted_temp2_df = dataframe.sort_values(by='TEMP',ascending = False)
sorted_temp2_df

    YEARMODA  TEMP   MAX   MIN  DIFF  DIFF_Min  TEMP_CELSIUS
25  20160626  69.6  77.7  60.3  17.4       9.3     20.888889
2   20160603  68.4  77.9  55.6  22.3      12.8     20.222222
1   20160602  65.8  80.8  55.0  25.8      10.8     18.777778
28  20160629  65.8  73.2  59.7  13.5       6.1     18.777778
29  20160630  65.7  72.7  59.2  13.5       6.5     18.722222
24  20160625  65.7  75.4  57.9  17.5       7.8     18.722222
0   20160601  65.5  73.6  54.7  18.9      10.8     18.611111
27  20160628  65.4  73.0  55.8  17.2       9.6     18.555556
14  20160615  63.4  70.3  49.3  21.0      14.1     17.444444
20  20160621  62.6  71.4  50.4  21.0      12.2     17.000000
21  20160622  61.7  70.2  55.4  14.8       6.3     16.500000
23  20160624  61.1  68.9  56.7  12.2       4.4     16.166667
22  20160623  60.9  67.1  54.9  12.2       6.0     16.055556
26  20160627  60.7  70.0  57.6  12.4       3.1     15.944444
16  20160617  60.4  70.7  55.9  14.8       4.5     15.777778
13  20160614  59.7  67.8  47.8  20.0      11.9     15.388889
19  20160620  59.3  69.1  52.2  16.9       7.1     15.166667
12  20160613  58.3  68.2  47.3  20.9      11.0     14.611111
15  20160616  57.8  67.5  55.6  11.9       2.2     14.333333
3   20160604  57.5  70.9  47.3  23.6      10.2     14.166667
17  20160618  57.3  62.8  54.0   8.8       3.3     14.055556
6   20160607  56.9  65.1  45.9  19.2      11.0     13.833333
18  20160619  56.3  59.2  54.1   5.1       2.2     13.500000
11  20160612  55.4  64.2  46.0  18.2       9.4     13.000000
7   20160608  54.2  60.4  47.5  12.9       6.7     12.333333
10  20160611  54.0  62.1  41.7  20.4      12.3     12.222222
5   20160606  52.2  59.7  42.8  16.9       9.4     11.222222
4   20160605  51.4  58.3  43.2  15.1       8.2     10.777778
9   20160610  49.5  55.9  43.0  12.9       6.5      9.722222
8   20160609  49.4  54.1  45.7   8.4       3.7      9.666667

In [15]:
#sorting the dataframe using two or more columns
sorted_temp3_df = dataframe.sort_values(by=['TEMP','DIFF'],ascending=False)
sorted_temp3_df

    YEARMODA  TEMP   MAX   MIN  DIFF  DIFF_Min  TEMP_CELSIUS
25  20160626  69.6  77.7  60.3  17.4       9.3     20.888889
2   20160603  68.4  77.9  55.6  22.3      12.8     20.222222
1   20160602  65.8  80.8  55.0  25.8      10.8     18.777778
28  20160629  65.8  73.2  59.7  13.5       6.1     18.777778
24  20160625  65.7  75.4  57.9  17.5       7.8     18.722222
29  20160630  65.7  72.7  59.2  13.5       6.5     18.722222
0   20160601  65.5  73.6  54.7  18.9      10.8     18.611111
27  20160628  65.4  73.0  55.8  17.2       9.6     18.555556
14  20160615  63.4  70.3  49.3  21.0      14.1     17.444444
20  20160621  62.6  71.4  50.4  21.0      12.2     17.000000
21  20160622  61.7  70.2  55.4  14.8       6.3     16.500000
23  20160624  61.1  68.9  56.7  12.2       4.4     16.166667
22  20160623  60.9  67.1  54.9  12.2       6.0     16.055556
26  20160627  60.7  70.0  57.6  12.4       3.1     15.944444
16  20160617  60.4  70.7  55.9  14.8       4.5     15.777778
13  20160614  59.7  67.8  47.8  20.0      11.9     15.388889
19  20160620  59.3  69.1  52.2  16.9       7.1     15.166667
12  20160613  58.3  68.2  47.3  20.9      11.0     14.611111
15  20160616  57.8  67.5  55.6  11.9       2.2     14.333333
3   20160604  57.5  70.9  47.3  23.6      10.2     14.166667
17  20160618  57.3  62.8  54.0   8.8       3.3     14.055556
6   20160607  56.9  65.1  45.9  19.2      11.0     13.833333
18  20160619  56.3  59.2  54.1   5.1       2.2     13.500000
11  20160612  55.4  64.2  46.0  18.2       9.4     13.000000
7   20160608  54.2  60.4  47.5  12.9       6.7     12.333333
10  20160611  54.0  62.1  41.7  20.4      12.3     12.222222
5   20160606  52.2  59.7  42.8  16.9       9.4     11.222222
4   20160605  51.4  58.3  43.2  15.1       8.2     10.777778
9   20160610  49.5  55.9  43.0  12.9       6.5      9.722222
8   20160609  49.4  54.1  45.7   8.4       3.7      9.666667

# Rounding and finding unique values

In [16]:
# create new column with the temperature in Celsius rounden to the nearest integer
dataframe['Celsius_rounded'] = dataframe['TEMP_CELSIUS'].round(0).astype(int)
dataframe

    YEARMODA  TEMP   MAX   MIN  DIFF  DIFF_Min  TEMP_CELSIUS  Celsius_rounded
0   20160601  65.5  73.6  54.7  18.9      10.8     18.611111               19
1   20160602  65.8  80.8  55.0  25.8      10.8     18.777778               19
2   20160603  68.4  77.9  55.6  22.3      12.8     20.222222               20
3   20160604  57.5  70.9  47.3  23.6      10.2     14.166667               14
4   20160605  51.4  58.3  43.2  15.1       8.2     10.777778               11
5   20160606  52.2  59.7  42.8  16.9       9.4     11.222222               11
6   20160607  56.9  65.1  45.9  19.2      11.0     13.833333               14
7   20160608  54.2  60.4  47.5  12.9       6.7     12.333333               12
8   20160609  49.4  54.1  45.7   8.4       3.7      9.666667               10
9   20160610  49.5  55.9  43.0  12.9       6.5      9.722222               10
10  20160611  54.0  62.1  41.7  20.4      12.3     12.222222               12
11  20160612  55.4  64.2  46.0  18.2       9.4     13.000000               13
12  20160613  58.3  68.2  47.3  20.9      11.0     14.611111               15
13  20160614  59.7  67.8  47.8  20.0      11.9     15.388889               15
14  20160615  63.4  70.3  49.3  21.0      14.1     17.444444               17
15  20160616  57.8  67.5  55.6  11.9       2.2     14.333333               14
16  20160617  60.4  70.7  55.9  14.8       4.5     15.777778               16
17  20160618  57.3  62.8  54.0   8.8       3.3     14.055556               14
18  20160619  56.3  59.2  54.1   5.1       2.2     13.500000               13
19  20160620  59.3  69.1  52.2  16.9       7.1     15.166667               15
20  20160621  62.6  71.4  50.4  21.0      12.2     17.000000               17
21  20160622  61.7  70.2  55.4  14.8       6.3     16.500000               17
22  20160623  60.9  67.1  54.9  12.2       6.0     16.055556               16
23  20160624  61.1  68.9  56.7  12.2       4.4     16.166667               16
24  20160625  65.7  75.4  57.9  17.5       7.8     18.722222               19
25  20160626  69.6  77.7  60.3  17.4       9.3     20.888889               21
26  20160627  60.7  70.0  57.6  12.4       3.1     15.944444               16
27  20160628  65.4  73.0  55.8  17.2       9.6     18.555556               19
28  20160629  65.8  73.2  59.7  13.5       6.1     18.777778               19
29  20160630  65.7  72.7  59.2  13.5       6.5     18.722222               19

In [21]:
# getting the unique values in the celsius_rounded column
unique = dataframe['Celsius_rounded'].unique()
unique

array([19, 20, 14, 11, 12, 10, 13, 15, 17, 16, 21], dtype=int64)

## Writing the data to a file

In [24]:
# name of the output file
outfname = 'output1.csv'

#save dataframe to csv
dataframe.to_csv(outfname,sep=',')

In [28]:
# name of the output file
outfname2 = "output2.csv"

#save the dataframe to csv, with custom formating for the float numbers and without index
dataframe.to_csv(outfname2, sep=',', index=False, float_format="%.2f")

In [31]:
# saving the dataframe DIRECTLY to excel
# name of the output file
outfname3 = "output3.xlsx"

#initialize ExcelWriter
writer = pd.ExcelWriter(outfname3)

#save the dataframe to csv, with custom formating for the float numbers and without index
dataframe.to_excel(writer, sheet_name="Kumpula_temperatures", index=False, float_format="%.2f")
writer.save()